API_KEY=api_key
EMBEDDING_DIM=1234
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=postgres_db
DATABASE_URL=postgresql+asyncpg://postgres:${POSTGRES_PASSWORD}@127.0.0.1:5432/${POSTGRES_DB}
OPENAI_API_KEY=open_ai_api_key
TEMP_DIR=temp/
COST_PER_MILLION=0.02
CHUNK_SIZE=500
MAX_CONTEXT_STRING_TOKEN=10000